*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter-fonts {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* shared styles */
.flex{
    display: flex;
}

.btn{
    color: white;
    font-weight: 600px;
    font-size: 16px;
    border-radius: 10000px;
    background: linear-gradient( 90deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100% );
    padding: 10px 16px;
    border: none;
    margin-right: 8px;
}

.btn-two{
    color: #00FF88;
    border-radius: 10000px;
    border: 1px solid #00FF88;
    font-size: 16px;
    font-weight: 600px;
    padding: 10px 20px;
    background: transparent;
    


}



/* header styles */
header{
    background-color: #1A0B2E;
    padding-top: 16px;
    background: url(./img/hero-bg.png);
    background-repeat: no-repeat;
    /* background-position: center; */
    
    
    
}




/* navbar related styles */
.header-section{
    border-bottom: 1px solid #412567;
    padding-bottom: 16px;

}

.navbar{
    max-width: 1200px;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    
}

.nav-menu{
    list-style: none;
    margin-right: 32px;
}

.nav-menu a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    color: white;

}

/* banner section css */
.banner-section{
    width: 34%;
    max-width: 550px;
    justify-content: center;
    margin: 0 auto;
    padding-top: 101px;
    text-align: center;
    

}

.banner-img {
    
    margin: 0 auto 40px auto;
    

}
.banner-text{
    font-size: 3.75rem;
    color: white;
    margin-bottom: 8px;

}
.banner-button{
    padding-bottom: 101px;

}

.banner-pera{
    
    font-size: 0.9375rem;
    color: white;
    padding-bottom: 24px;


}

/* main css */

.color{
    background-color: #1A0B2E;

}

.main-section{
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    
    
}

/* about section css */

.about-section{
    padding-top: 50px;
    
}

.about-section h3{
    font-size: 3rem;
    font-weight: bold;
    color: white;
    margin-bottom: 16px;
}

.p-1 {
    font-size: 0.9375rem;
    color: white;
    line-height: 20px;
    

}
.p-3 {
    font-size: 0.9375rem;
    color: white;
    line-height: 20px;
    margin-bottom: 20px;

}
.p-4 {
    font-size: 0.9375rem;
    color: white;
    line-height: 20px;
    margin-bottom: 50px;


}
/* number-section */
.number-section{
    width: 1200px;
    display: flex;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 120px;
    text-align: center;
    justify-content: space-between;
}
.card-header{
    font-size: 3rem;
    font-weight: 900px;
    color: #00FF88;
}

.info{
    font-size: 16px;
    color: white;
    line-height: 20px;
}

/* grid-section */

#why{
    background-color: #230E3D;
    /* max-width: 1200px; */
    
}

.grid-section{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}

.grid-heading{
    padding-top: 120px;
    font-size: 3rem;
    font-weight: bold;
    color: white;
}

.container{
    
    max-width: 1200px;
    display: grid;
    gap: 30px;
    margin-top: 40px;
    /* margin-bottom: 120px; */
    padding-bottom: 120px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 200px);

}

.semi-layout{
    background-color: #351165;
    grid-column: span 1;
    grid-row: span 2;
    padding: 40px 40px;
}

.big-layout{
    background-color: #351165;
    grid-column: span 2;
    grid-row: span 1;
    padding: 40px 40px;
}
.small-layout{
    background-color: #351165;
    grid-column: span 1;
    grid-row: span 1;
    padding: 40px 40px;
}

.grid-h3{
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.grid-p{
    color: white;
    font-size: 16px;
    line-height: 24px;
    /* font-weight: bold; */

}

/* featured-section */
#featured-section{
    width: 1200px;
    margin: 0 auto;
    justify-content: center;
    display: flex;
    gap: 30px;
    
}
.featured{
     width: 1200px;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    color: white;
    padding-top: 120px;
    padding-bottom: 40px;
    
}

.featured-card{
    background-color: #250D44;
    
}
.featured-heading{
    font-size: 24px;
    font-weight: bold;
    color: white;
    padding: 24px 24px 12px 24px;
    
}
.featured-des{
    font-size: 16px;
    font-weight: 400;
    color: white;
    padding: 0px 24px 12px 24px;
    line-height: 24px;
}

.clock{
    display: flex;
    gap: 6px;
    padding: 12px 24px 24px 24px;
}

.clock-size{
    width: 20px;
    /* padding: 12px 24px 24px 24px; */
}
.featured-time{
    font-size: 16px;
    font-weight: 600px;
    line-height: 24px;
    color: #00FF88;
}
/* responsive media query */

@media screen and (max-width: 576px){
    .navbar, .nav-links{
        flex-direction: column;
    }
}